
<div class="content">
    <div class="row">
        <div class="col s9">
            <form #searchYoutubeForm="ngForm">
                <label class="label-admin-info">Temps maximum pour trouver la bonne réponse (secondes) : </label>
                <input type="number" min="1" max="999" step="1" name="endValue" id="endValue"
                    [(ngModel)]="endValue" required><br>
                <label class="label-admin-info" for="youtubeUrl">URL de la playlist youtube : </label><br>
                <input type="text" name="youtubeUrl" id="youtubeUrl" 
                    placeholder="https://www.youtube.com/playlist?list=PLvhsH1llZxB5"
                    [(ngModel)]="youtubeUrl" 
                    (keyup.enter)="searchVideoByUrl()">
                <a (click)="searchVideoByUrl()" class="waves-effect waves-light btn" title="rechercher la vidéo / playlist">Rechercher</a>
            </form>
        </div>
    </div>
</div>

<div class="container center">
    <div id="playerContainer">
        <div id="player"></div>
        <div id="playerControlls">
            <button id="previousButton" (click)='playPreviousVideo()' class="btn-floating btn-small waves-effect waves-light red">
                <i class="small material-icons">skip_previous</i>
            </button>
            <button id="playPauseButton" (click)='playPauseVideo()' class="btn-floating btn-small waves-effect waves-light red">
                <i class="small material-icons">play_arrow</i>
            </button>
            <button id="nextButton" (click)='playNextVideo()' class="btn-floating btn-small waves-effect waves-light red">
                <i class="small material-icons">skip_next</i>
            </button>

            <label id="playlistIndex">Piste {{ index }} / {{ playerSize }}</label>
            <h6 id="currentVideoName">{{ currentVideoName }}</h6>
        </div>
    </div>
</div>