.li-item-avatar {
    min-height: 60px !important;
}

i {
    cursor: pointer;
}

span.buttonIcon {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #26a69a;
}

.icon-disabled {
    color: dimgrey;
    cursor: not-allowed;
}